
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h2>
        Mensagens
    </h2>
    <hr />
    <h3>@ViewBag.MensagemAutorizacaoPersonalizada</h3>
    <br />
    <h3>@ViewBag.NomeAction</h3>
</div>