
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_RodapePadrao</title>
</head>
<body>

    <div id="rodape">
        Rodape padrao do site (Padrao) - (@DateTime.Now.Date.Year)
    </div>
</body>
</html>
