
@{
    ViewBag.Title = "Index";
}

<h2>Index do Usuario - Area do Usuario</h2>

<li>@Html.ActionLink("Admin","Index","Home",new { area="Admin"},null)</li>
<li>@Html.ActionLink("Principal","Index","Home",new {area="null" })</li>
<li>@Html.ActionLink("Gerente","Index","Home",new { area="Gerente"},null)</li>
