
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="well">
    <ul>
        <li>@Html.ActionLink("Tratamento de erros em bloco try...catch","TratamentoBlockTryCatch","Home")</li>
        <li>@Html.ActionLink("Tratamento de erros HTTP","TratamentoErroHttp","Home")</li>
    </ul>
</div>

