<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h2> (A)lterar | (I)ncluir   | (E)xcluir </h2>
    <hr />
</div>
