


<!DOCTYPE html>

<html>
@section  cabecalho{
    <div id="cabecalho">
        <h3>Página de Layout do site - Cabeçalho (Index)</h3>
        <hr />
    </div>
}
<body>
    <div>
    </div>
</body>
</html>



@section rodape{
    <div id="linharodape">
        <hr />
    </div>
    <div id="rodape">
        Rodapé do site (Index) - (@DateTime.Now.Date)
    </div>
}
