
@{
    ViewBag.Title = "AcessoNegado";
}

<h2>AcessoNegado</h2>

<div>
    <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

        <h2>Acesso Negado </h2>
        <hr />
        @Html.ActionLink("Retorna", "Index")
    </div>
</div>