
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h2>Ryoji .net</h2>
    <br />
    <h3>Pagina index</h3>
    <br />
    @Html.ActionLink("Acesso Restrito","AcessoRestrito") | @Html.ActionLink("Acesso Liberado", "AcessoLiberado")
</div>