@model  IEnumerable<Mvc_WebGrid.Models.Times>

<p>Item selecionado</p>
<ul>
    <li><b>Time :</b>@Page.Times.Time</li>
    <li><b>Pontos :</b>@Page.Times.Pontos</li>
    <li><b>Jogos :</b>@Page.Times.Jogos</li>
</ul>