body
{
    font: "Trebuchet MS", verdana, sans-serif;
    background-color: rgba(255,204,202,0.93);
    color: #696969;
}
h1
{
    border-bottom: 3px solid #cc9900;
    font: Georgia, serif;
    color: #996600;
}
#main
{
    padding:20px;
    background-color: #ffff;
    border-radius: 0 4px 4px 4px;
}
a{
    color: #034af3;
}
/* Menu styles*/
ul#menu
{
    padding: 0px;
    position: relative;
    margin: 0;
}
ul#menu li
{
    display:inline;
}
ul#menu li a
{
    background-color:#e8eef4;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 2.8em;
}
ul#menu li a:hover
{
    background-color: #ffff;
}
/* Forms Styles*/
filedset
{
    padding-left: 12px;
}

fieldset label
{
    display:block;
    padding: 4px;
}


