
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> 
        @using (Html.BeginForm())
        {
            <b>Descrição do produto: </b>
            <br />
            @Html.TextArea("descricao");
            <br />
            <input type="submit" value="Enviar" />
        }
    </div>
</body>
</html>
